# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment folder
env/
venv/

# Ignore SQLite database
db.sqlite3

# Ignore environment settings
*.env

# Ignore VS Code settings
.vscode/
